<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>情報登録フォーム</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Company" formControlName="company">
          </mat-form-field>
        </div>
      </div> -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="名前" formControlName="firstName">
            <mat-error *ngIf="addressForm.controls['firstName'].hasError('required')">
              名前は<strong>必須</strong>です
            </mat-error>
            <mat-error *ngIf="addressForm.controls['firstName'].hasError('minlength')">
              First name is <strong>min</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['firstName'].hasError('maxlength')">
                First name is <strong>max</strong>
              </mat-error>
            <mat-error *ngIf="addressForm.controls['firstName'].hasError('range')">
              {{addressForm.controls['firstName'].errors.range.value}}
            </mat-error>
            <mat-error *ngIf="addressForm.controls['firstName'].hasError('rangeLength')">
              {{addressForm.controls['firstName'].errors.lengthRange.value}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="名字" formControlName="lastName">
            <mat-error *ngIf="addressForm.controls['lastName'].hasError('required')">
              名字は<strong>必須</strong>です
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput #postalCode maxlength="5" placeholder="郵便番号" type="number" formControlName="postalCode">
            <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            <!-- <mat-error *ngIf="addressForm.controls['postalCode'].hasError('required')">
              PostalCode is <strong>required</strong>
            </mat-error> -->
            <!-- <mat-error *ngIf="addressForm.controls.postalCode.errors.required">
              PostalCode is <strong>required</strong>
            </mat-error> -->
            <!-- <mat-error *ngIf="addressForm.controls['postalCode'].hasError('maxlength')">
              PostalCode is <strong>required</strong>
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="市区町村" formControlName="city">
              <mat-option *ngFor="let city of cities" [value]="city.value">
                {{ city.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['city'].hasError('required')">
              市区町村は<strong>必須</strong>です
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="住所" formControlName="address">
            <mat-error *ngIf="addressForm.controls['address'].hasError('required')">
              住所は<strong>必須</strong>です
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="!hasUnitNumber">
        <div class="col">
          <button mat-button type="button" (click)="hasUnitNumber = !hasUnitNumber">
            + 住所を追加する
          </button>
        </div>
      </div>
      <div class="row" *ngIf="hasUnitNumber">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="住所2" formControlName="address2">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="shipping">
            <mat-radio-button value="free">無料配送</mat-radio-button>
            <mat-radio-button value="priority">優先配送</mat-radio-button>
            <mat-radio-button value="nextday">翌日配送</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput rows="5" placeholder="備考" formControlName="remarks"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">登録</button>
    </mat-card-actions>
  </mat-card>
</form>
